Below is a list of multiple different groups of Microsoft 365 licenses that have been applied to users.

``` Microsft 365 License Groups
{% for group in license_groups %} -> {{ group | join(', ') }}
{% endfor -%}
```

For each group of licenses, answer the following questions as accurately as you can. Think deeply about your answer, considering your knowledge of what features each license has and how they relate to other licenses. Strictly output your answer as valid JSON.

1. For each license set, return a list of all licenses in each license set.
