Below is a list of multiple different groups of Microsoft 365 licenses that have been applied to users.

``` Microsft 365 License Groups
{% for group in license_groups %} - {{ group | join(', ') }}
{% endfor -%}
```

For each group of licenses, create a new object in the 'responses' array by answering the following questions as accurately as you can. Think deeply about your answer, considering your knowledge of what features each license has and how they relate to other licenses. Strictly output your answer as valid JSON.

1. Populate the 'license_group' field with a list of all licenses in the license group currently being considered.
2. Populate the 'overlapping_licenses' field with a list of all licenses in the license group that provide overlapping features.
3. Populate the 'overlapping_licenses_justification' field with a string justifying your selections for the overlapping licenses. Justify why you chose them and mention the features that overlap for each license.
4. Populate the 'overlapping_licenses_resolution' field with a string explaining whether any licenses can be removed. This should include a justification of why, and any implications that removing each license would have.
